NODE_ENV=development
PORT=8386
DATABASE_URL=postgresql://user:password@db:5432/livexec
REDIS_URL=redis://redis:6379
ALLOWED_LANGUAGES=javascript,python,typescript
APP_URL=https://your-app-name.onrender.com/ping

# DB Credentials (for docker-compose)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=livexec
